body{
    margin: 0;
    padding: 0;
}
.imagen-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    & img{
        width: 80%;
    }
}

nav {
    background-color:antiquewhite;
    display: flex;
    justify-content: space-around;
    align-content: center;
    & .logo img{
        width: 200px;
    }
}

.opciones {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

footer {
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-content: center;
    
}