<footer class="text-center text-darkgray" style="background-color: transparent; position: sticky; bottom: 0; width: 100%;">
    <div class="container p-4">
        <section>        
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <div class="row text-center d-flex justify-content-center footer-text">
                    <!-- Aplicar el color directamente a cada enlace de ícono -->
                    <div class="col-3 col-md-1 mb-1">
                        <a href="{% url 'about' %}" class="text-darkgray" title="Sobre Nosotros" style="color: #333;">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                    <div class="col-3 col-md-1 mb-1">
                        <a href="{% url 'index' %}" class="text-darkgray" title="Inicio" style="color: #333;">
                            <i class="fas fa-home"></i>
                        </a>
                    </div>
                    <div class="col-3 col-md-1 mb-1">
                        <a href="{% url 'welcome' %}" class="text-darkgray" title="Bienvenido" style="color: #333;">
                            <i class="fas fa-birthday-cake"></i>
                        </a>
                    </div>
                    <div class="col-3 col-md-1 mb-1">
                        <a href="{% url 'contacto' %}" class="text-darkgray" title="Contacto" style="color: #333;">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
                </div>
                <p>© 2024 OnlyFlans. Todos los derechos reservados. By Catalina Millan</p>
            </div>
        </section>
    </div>
</footer>
