
{% extends "layouts/base.html" %}
{% block content %}
    <div>
        <h1>Acerca de OnlyFlans</h1>
        <p>En OnlyFlans, creemos que todos merecen disfrutar de un delicioso postre, sin importar sus restricciones dietéticas o preferencias personales. Nuestra pastelería nació de una pasión por las recetas tradicionales y el deseo de innovar dentro de un marco inclusivo. Desde nuestros inicios, hemos dedicado nuestro corazón y alma a crear tortas, kuchens y pasteles que no solo deleitan los sentidos, sino que también acogen a todos en la mesa.</p>
        
        <h2>Calidad sin compromisos</h2>
        <p>Cada uno de nuestros postres es elaborado utilizando ingredientes de la más alta calidad. Nos esforzamos por seleccionar opciones orgánicas y locales siempre que es posible, asegurando no solo un sabor superior, sino también un impacto positivo en nuestra comunidad y medio ambiente.</p>
        
        <h2>Un menú para todos</h2>
        <p>Entendemos la importancia de adaptarse a las necesidades dietéticas modernas. Es por esto que ofrecemos una variedad impresionante de opciones veganas, sin gluten y sin azúcar, todas endulzadas naturalmente. Nuestras recetas son cuidadosamente diseñadas para garantizar que cada cliente encuentre algo que pueda disfrutar sin preocupaciones.</p>
        
        <h2>Innovación y tradición</h2>
        <p>En OnlyFlans, valoramos la tradición pastelera tanto como la innovación. Nuestros chefs pasteleros son verdaderos artistas que experimentan constantemente con sabores y técnicas para brindar experiencias únicas a nuestros clientes. Ya sea que busques un sabor clásico o algo completamente nuevo, siempre encontrarás algo emocionante en nuestro menú.</p>
        
        <p>Visítanos y descubre por qué OnlyFlans es más que una pastelería – es un lugar donde la creatividad y la inclusión se encuentran para crear magia.</p>
    </div>
{% endblock content %}
    